body{
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    color: #fff;
}

main div {
    width: 220px;
    height: 450px;
}

#orange{
    background-color: orange;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 0 60px;
    /* box-sizing: border-box; */
}

button {
    background-color: #fff;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 40px;
    margin-top: 45px;
}

button{
    color: orange;
}

#btn-orange{
    color: orange;
}

#btn-green{
    color: green;
}

#btn-blue{
    color: blue;
}

@media screen and (max-width: 375px) {
    main{
        padding: 0 130px;
        width: 100px;
        height: 225px;
        flex-direction: column;
    }

    button{
        margin-bottom: 20px;
    }

}