body{
    font-family: 'Inter', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    padding: 90px 0;
    color: #fff;
}

main div {
    width: 250px;
    height: 400px;
}

#orange{
    background-color: orange;
}

#blue{
    background-color: blue;
}

#green{
    background-color: green;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}

button {
    background-color: #fff;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 40px;
    margin-top: 70px;
}

button{
    color: orange;
}

#btn-orange{
    color: orange;
}

#btn-green{
    color: green;
}

#btn-blue{
    color: blue;
}